.admin_retrieve{
    form{
        margin-bottom: 80px;
        input {
            background-color: #333;
            border-radius: 4px;
            border: 1px solid #fff;
            padding: 4px 12px;
            margin-right: 30px;
        }
    }
}
