<div class="add">
    <form method="post">
        <input type="text" name="title" value="" placeholder="title">
        <textarea name="entity"></textarea>
        <select name="biblio">
            <option value="HTML5">HTML5</option>
            <option value="CSS3">CSS3</option>
            <option value="JavaScript">JavaScript</option>
            <option value="jQuery">jQuery</option>
            <option value="AJAX">AJAX</option>
            <option value="Node.js">Node.js</option>
            <option value="UI Design">UI Design</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</div>
