<div class="add">
    <form id="form_create" method="post" >
        <input type="text" name="title" value="" placeholder="TITLE">
        <div class="select">
          <div class="select_head">
              <label>
                <input class="select_show" type="text" name="biblio" value="" placeholder="BIBLIO" readonly>
                <i class="fa fa-angle-down select_button"></i>
              </label>
          </div>
          <ul class="select_sub">
              <li>HTML5</li><hr>
              <li>CSS3</li><hr>
              <li>JavaScript</li><hr>
              <li>jQuery</li><hr>
              <li>AJAX</li><hr>
              <li>Node.js</li><hr>
              <li>UI Design</li>
          </ul>
        </div>
        <div id="editor">
            <textarea name="entity"
onfocus="window.activeobj=this;this.clock=setInterval(function(){activeobj.style.height=activeobj.scrollHeight+'px';},200);" onblur="clearInterval(this.clock);" v-model="input" debounce="300">
            </textarea>
            <div v-html="input | marked"></div>
        </div>

        <input type="submit" value="SUBMIT">
    </form>
</div>

{{#section 'jquery'}}
<script>
    new Vue({
      el: '#editor',
      data: {
        input: ' '
      },
      filters: {
        marked: marked
      }
    });
    $('#form_create').on('click', function(e) {
        if( $(e.target).is(".select_button") ) {
            var select_sub = $(e.target).parents('.select_head').siblings('.select_sub');
            if( select_sub.is(":hidden") ) {
                select_sub.stop(true,false).slideDown(400);
                $(e.target).removeClass('fa-angle-down').addClass('fa-angle-up');
            } else {
                select_sub.stop(true,false).slideUp(400);
                $(e.target).removeClass('fa-angle-up').addClass('fa-angle-down');
            }
        }
        if( $(e.target).is(".select_sub li") ) {
            var select_sub = $(e.target).parent();
            var select_head = select_sub.siblings('.select_head');
            var select_show = select_head.find('.select_show');
            var select_button = select_show.siblings('.select_button');
            select_show.val($(e.target).html());
            select_sub.stop(true,false).fadeOut(400);
            select_button.removeClass('fa-angle-up').addClass('fa-angle-down');
        }
    });
</script>
{{/section}}
