
    <div class="home">
        <h1>LIVE FAST AND DIE YOUNG</h1>
            <br>
        <h1>BE WILD AND HAVE FUN</h1>
        <!-- <p>

        </p> -->
        <!-- <input type="button" value="View More"> -->
    </div>
